{% extends "user/user_base.html" %}

{% block title %}Video Sayfası{% endblock %}

{% block sidebar_color %}{% endblock %}

{% block name_abbr %}MAD{% endblock %}

{% block first_name %}MUHAMMED ALİ{% endblock %}

{% block current_page_name %}Video - {{video_id}}{% endblock %}

{% block user_image_source %}../static/img/user/anime3.png{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<!-- Top Five Table for Comments
=====================================================================================================================-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-left">
                        <h2>Yorumlar En 100</h2>
                    </div>
                    <div class="col-6 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Sınıf</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Hakaret / Küfür</a>
                                <a class="dropdown-item" href="#">Öneri</a>
                                <a class="dropdown-item" href="#">İltifat</a>
                                <a class="dropdown-item" href="#">...</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter ">
                        <thead class="text-primary">
                            <th class="col-8">
                                Yorum
                            </th>
                            <th class="col-1 text-center">
                                Beğeni Sayısı
                            </th>
                            <th class="col-1 text-center">
                                Beğenmeme Sayısı
                            </th>
                            <th class="col-2 text-center">
                                Sınıf
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    İlkasfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasfasfasfafafsa
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    İlk Yorum
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    İlk Yorum
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    İlk Yorum
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-2 text-left">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                <input type="radio" name="options" autocomplete="off" checked> Ay
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple " id="1">
                                <input type="radio" name="options" autocomplete="off"> Yıl
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple " id="2">
                                <input type="radio" name="options" autocomplete="off"> Toplam
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}