{% extends "user/user_base.html" %}

{% block title %}Takipçi Mehmet{% endblock %}

{% block sidebar_color %}{% endblock %}

{% block name_abbr %}MAD{% endblock %}

{% block first_name %}MUHAMMED ALİ{% endblock %}

{% block current_page_name %}Takipçi{% endblock %}

{% block user_image_source %}../static/img/user/anime3.png{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<!-- Author Info
=====================================================================================================================-->
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h3 class="title">Yorumcu Profili</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                            <label>Kullanıcı Adı</label>
                            <div class="alert alert-info" role="alert">
                                Mehmet Emmi
                            </div>
                    </div>
                    <div class="col-4 px-3">
                        <label>Notu</label>
                        <div class="alert alert-info text-center" role="alert">
                            15
                        </div>
                    </div>
                    <div class="col-4 px-3">
                        <label>Abone</label>
                        <div class="alert alert-info text-center" role="alert">
                            15
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Hakaret</label>
                        <div class="alert alert-info text-center" role="alert">
                            84 %
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card  card-user">
            <div class="card-body ">
                <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="#">
                            <img class="avatar" src="../static/img/user/anime6.png" alt="...">
                            <h5 class="title">Yollu Necla</h5>
                        </a>
                    </div>
                </p>
            </div>
            <div class="card-footer ">
                <div class="button-container">
                    <button class="btn btn-primary btn-round">
                        <i class="tim-icons icon-single-02"></i> Google Hesabı
                    </button>
                </div>
            </div>
    </div>
</div>
</div>
<!-- Author Comments
=====================================================================================================================-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-left">
                        <h3>Attığı Yorumlar</h3>
                    </div>
                    <div class="col-6 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Sınıf</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Hakaret / Küfür</a>
                                <a class="dropdown-item" href="#">Öneri</a>
                                <a class="dropdown-item" href="#">İltifat</a>
                                <a class="dropdown-item" href="#">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter ">
                        <thead class="text-primary">
                            <th class="col-6">
                                Yorum
                            </th>
                            <th class="col-2 text-center">
                                Beğeni Sayısı
                            </th>
                            <th class="col-2 text-center">
                                Beğenmeme Sayısı
                            </th>
                            <th class="col-2 text-center">
                                Sınıf
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    İlkasfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasfasfasfafafsa
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    İlk Yorum
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    İlk Yorum
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    İlk Yorum
                                </td>
                                <td class="text-center">
                                    100
                                </td>
                                <td class="text-center">
                                    50
                                </td>
                                <td class="text-center">
                                    Öneri
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    İlk Yorum
                                 </td>
                                 <td class="text-center">
                                    100
                                 </td>
                                 <td class="text-center">
                                    50
                                 </td>
                                 <td class="text-center">
                                    Öneri
                                 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}
