{% extends "user/user_base.html" %}

{% block title %}Videolar{% endblock %}

{% block sidebar_color %}{% endblock %}

{% block name_abbr %}MAD{% endblock %}

{% block first_name %}MUHAMMED ALİ{% endblock %}

{% block current_page_name %}Kullanıcı Paneli{% endblock %}

{% block user_image_source %}../static/img/user/anime3.png{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container-fluid">

<div class="row">
    <!-- Top 10 Table for Comments
    ====================================================================================================================-->
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-center" style="width: 210;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/TYZv4T4jRgA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD0O2fnbhpPyn_0u8qubFCqXydwCw" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.card').click(function(){
        $(location).attr('href',"{{url_for('user.video')}}");

    });

</script>
{% endblock %}