{% extends "user/user_base.html" %}

{% block title %}Video Sayfası{% endblock %}

{% block sidebar_color %}{% endblock %}

{% block name_abbr %}MAD{% endblock %}

{% block first_name %}MUHAMMED ALİ{% endblock %}

{% block current_page_name %}Video - {{video_id}}{% endblock %}

{% block user_image_source %}../static/img/user/anime3.png{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="card card-nav-tabs">
  <div class="card-header card-header-success">
    Video - Bilmem Ne
  </div>
  <div class="card-body">
    <table class="table">
    <thead>
        <tr>
            <th class="col-2 text-center">Yorumcu Notu</th>
            <th class="col-2">Kullanıcı Adı</th>
            <th class="col-6">Yorum</th>
            <th class="col-2">Sınıf</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Developaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
    <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Developaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
    <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Developaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
    <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Developaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
    <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Developaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
        <tr>
            <td class="text-center">87.5%</td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
        </tr>
    </tbody>
</table>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}