<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <!--- basic page needs -->
    <meta charset="utf-8">
    <title>Omniscientus</title>
    <meta name="description" content="Yapay zeka destekli kitle analiz hizmetleri">
    <meta name="author" content="Omniscientus Developers">

    <!-- mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/home/base.css">
    <link rel="stylesheet" href="../static/css/home/vendor.css">
    <link rel="stylesheet" href="../static/css/home/main.css">

    <!-- script -->
    <script src="../static/js/home/modernizr.js"></script>
    <script src="../static/js/home/modernizr.js"></script>

{#    <!-- favicons -->#}
{#    <link rel="shortcut icon" href="../static/img/general/logo_wo_name.png" type="image/x-icon">#}
{#    <link rel="icon" href="../static/img/general/logo_wo_name.png" type="image/x-icon">#}
</head>
<body id="top">
    <!-- header -->
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="../static/img/general/logo_w_name.png" alt="Homepage">
            </a>
        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#" class="header-nav__close" title="kapat"><span>Kapat</span></a>

            <div class="header-nav__content">
                <h3>Omniscientus</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#top" title="home">Ana Sayfa</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">Hakkımızda</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">Hizmetlerimiz</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">İletişim</a></li>
                </ul>

                <p> Yapay zeka teknolojisi ile kitlenizi analiz ederek, hedef kitlenizi belirlemede sizlere destek vermekteyiz. Gelişmiş yapay zeka teknolojisini kullanın, zamandan tasarruf edin !</p>

                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="../static/img/home/cover.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=top>

        <div class="shadow-overlay" id="particles-js"></div>

        <div class="home-content" id="particles-js">
            <div class="row home-content__main">
                <h1>
                Omniscientus kitlenizin<br> resmini çizer!
                </h1>

                <p>
                Yapay zeka ile kitlenizi daha iyi ve daha hızlı <br> tanımanızı sağlıyoruz
                </p>
            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll">Hoşgeldiniz</a></li>
            <li><a class="smoothscroll" href="#about">Hakkımızda<span>Kimiz</span></a></li>
{#            <li><a class="smoothscroll"  href="{{ url_for('user.dashboard') }}" title="about">Kullanıcı Paneli</a></li>#}
            <li><a class="smoothscroll" href="#services">Hizmetlerimiz<span>Ne yapıyoruz</span></a></li>
            <li><a class="smoothscroll" href="#contact">İletişim<span>İletişime geç</span></a></li>
        </ul> <!-- end home-sidelinks -->


        <ul class="home-social">
            <li class="home-social-title">Bizi Takip Et!</li>
            <li><a href="#">
                <i class="fab fa-instagram"></i>
                <span class="home-social-text">Instagram</span>
            </a></li>
            <li><a href="#">
                <i class="fab fa-twitter"></i>
                <span class="home-social-text">Twitter</span>
            </a></li>
            <li><a href="#">
                <i class="fab fa-linkedin"></i>
                <span class="home-social-text">LinkedIn</span>
            </a></li>
        </ul> <!-- end home-social -->
    </section> <!-- end s-home -->

    <!-- about -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Biz kimiz</h3>
                <h1 class="display-1">Hayatınızı yapay zeka hizmetleri ile kolaylaştıran bir ekibiz</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                 Kitlenizi sizden daha iyi tanıtacak akıllı bir yardımcı ile en doğru kararları verin
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row">

            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Veri Toplama</h4>
                        <p>
                            İnternet ve sosyal medya kaynaklarından insan gücüyle toplanamayacak kadar çok veriyi toplarız
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Veri İşleme</h4>
                        <p>
                            Çok karışık ve büyük miktardaki veriyi insanüstü bir efor ile işleriz
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Kitle Analizi</h4>

                        <p>
                            İşlenen bu veri ile tüm kitlenizi analiz ederiz
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Veriyi Görselleştirme</h4>
                        <p>Son olarak da kitlenizin resmini sizlere sunarız</p>
                    </div>
                </div>
            </div> <!-- end process -->
        </div> <!-- end about-stats -->
    </section> <!-- end s-about -->

    <!-- services -->
    <section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Biz ne yapmaktayız</h3>
                <h1 class="display-1">Kitlenizi tek bir ara yüze sığdırıyoruz</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                    İnternet ve sosyal medya ağları üzerinden sizinle oluşturulan etkileşimleri en yeni teknolojiler ile analiz edip hizmetinize sunmaktayız
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row services-list block-1-3 block-m-1-2 block-tab-full">

            <div class="col-block service-item " data-aos="fade-up">
                <div class="service-icon service-icon--brand-identity">
                    <img src="../static/img/home/icons/png/youtube.png" alt="youtube" height="64" width="64"> 
                    <!--<i class="icon-tv"></i>-->
                </div>
                <div class="service-text">
                    <h3 class="h4">Youtube</h3>
                    <p>
                        Youtube videolarınıza atılan yorumları, takipçilerinizi, size sürekli yorum atan öz kitlenizi,
                        yorum atan kişilerin ne kadar sözünün değerli olduğunu ve daha bir çok şeyi analiz etmekteyiz.
                        Yapay zeka ile yorumları sınıflandırıp alakalı tüm içerikler arasındaki etkileşimi inceliyoruz.
                        Bu sayede kitlenizi daha iyi tanımanızı ve doğru kararlar almanızı kolaylaştırıyoruz.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--illustration">
                    <img src="../static/img/home/icons/png/instagram.png" alt="instagram" height="64" width="64"> 
                    <!--<i class="icon-group"></i>-->
                </div>
                <div class="service-text">
                    <h3 class="h4">Instagram</h3>
                    <p>Çok yakında hizmetinizde !</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--web-design">
                    <img src="../static/img/home/icons/png/twitter.png" alt="twitter" height="64" width="64"> 
                    <!--<i class="icon-earth"></i>-->
                </div>  
                <div class="service-text">
                    <h3 class="h4">Twitter</h3>
                    <p>Çok yakında hizmetinizde !</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--product-strategy">
                    <img src="../static/img/home/icons/png/eksisozluk.jpg" alt="eksisozluk" height="64" width="64"> 
                   <!-- <i class="icon-cube"></i>-->
                </div>
                <div class="service-text">
                    <h3 class="h4">Ekşi Sözlük</h3>
                    <p>Çok yakında hizmetinizde !</p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--ui-design">
                        <img src="../static/img/home/icons/png/social-medias.png" alt="social-medias" height="64" width="64"> 
                    <!--<i class="icon-window"></i>-->
                </div>
                <div class="service-text">
                    <h3 class="h4">Ve Diğerleri!</h3>
                    <p>Çok yakında hizmetinizde !</p>
                </div>
            </div>
    
           <!-- <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--mobile-dev">
                    <i class="icon-lego-block"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Mobile Development</h3>
                    <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. 
                    Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                    Sunt suscipit voluptas ipsa in tempora esse soluta sint.
                    </p>
                </div>
            </div>-->

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->

    <!-- contact -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">İletişim</h3>
                <h1 class="display-1 display-1--light">Detalı bilgi için bir telefon yada e-posta kadar yakınız</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row">
            <div class="col-full contact-main" data-aos="fade-up">
                <p><a href="mailto:info@omniscientus.com" class="contact-email">info@omniscientus.com</a>
                <span class="contact-number">+90 (505) 325 0203</span>
                </p>
            </div> <!-- end contact-main -->
        </div> <!-- end row -->

        

        <div class="row">
            <div class="col-full cl-copyright">
                <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır. <a href="/">Omniscientus</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
            </div>
        </div>

    </section> <!-- end s-contact -->


    <!-- photoswipe background -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader -->
    <div id="preloader">
        <div id="loader">            
        </div>
    </div>


    <!-- Java Script -->
    <script src="../static/js/home/particles.js"></script>
    <script src="../static/js/home/jquery-3.2.1.min.js"></script>
    <script src="../static/js/home/plugins.js"></script>
    <script src="../static/js/home/main.js"></script>

</body>

</html>